.container {
    width: 1280px;
    height: 1282px;
    margin: 0 auto;
}
.header {
    font-family: 'Roboto';
    font-style: normal;
    color: white;
}
a {
    text-decoration: none;
}
.top-menu {
    list-style-type: none;
    border: 1px solid white;
    background-color: #35444F;

}
.left-menu {
    float: left;
    list-style-type: none;
    border: 1px solid black;
    padding: 26px 40px;
}
.img {
    border: 1px solid black;
    padding: 73px 270px;
}
.footer {
    width: 1280px;
    height: 69px; 
}
.footer-menu {
    list-style-type: none;
    border: 0px solid white;
    background-color:rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
}
