.container {
    width: 1280px;
    height: 650px;
    margin:0 auto;
}
.content-navbar {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: red

}
li {
    list-style-type: none;
    display: inline-block;
    padding: 25.5px 72px;
   }
ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}   
a {
    color: #FF0000 ;
    text-decoration: none;
}
main {
    text-align:center;
}
head {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.content-img {
    width: 1280px;
    height: 789px;   
}
.content-title{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: 10px 253px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    color: #373737
}
.content-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 28px 67.5px;
    color: #373737
}
.content-button {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 17px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.content-copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16p;
    text-align: right;
    padding: 29px;
    color: #373737;
}